In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Connect to db
conn = sqlite3.connect('data/8anu.sqlite')

# Read data into pandas
df = pd.read_sql_query('SELECT * FROM ascent WHERE crag=\'Frankenjura\';', conn)

# Close db connection
conn.close()

In [3]:
df.describe()

,id,user_id,grade_id,raw_notes,method_id,climb_type,total_score,date,year,last_year,...,project_ascent_date,crag_id,sector_id,rating,yellow_id,climb_try,repeat,exclude_from_ranking,user_recommended,chipped
count,1.264850e+05,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,1.264850e+05,126485.000000,126485.000000,...,1.264850e+05,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000,126485.000000
mean,2.769682e+06,27846.702819,48.177808,2.015164,1.867565,0.094051,724.790750,1.322659e+09,2011.374788,0.098391,...,4.952718e+06,17770.648788,1358.208412,1.039349,187.269739,0.009021,0.005487,0.005993,0.033403,0.000435
std,1.379752e+06,17693.569746,8.767111,5.693784,0.952704,0.291900,217.191575,1.410920e+08,9.116109,0.297844,...,8.577624e+07,3633.283811,2193.519510,1.191830,111.820486,0.094549,0.073870,0.077181,0.179688,0.020848
min,5.820000e+02,3.000000,7.000000,0.000000,1.000000,0.000000,-1.000000,0.000000e+00,13.000000,0.000000,...,0.000000e+00,16600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.662815e+06,11673.000000,42.000000,0.000000,1.000000,0.000000,645.000000,1.244671e+09,2009.000000,0.000000,...,0.000000e+00,16600.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.921385e+06,26698.000000,49.000000,0.000000,1.000000,0.000000,750.000000,1.346364e+09,2012.000000,0.000000,...,0.000000e+00,16600.000000,457.000000,0.000000,255.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.915899e+06,40486.000000,55.000000,1.000000,3.000000,0.000000,852.000000,1.433369e+09,2015.000000,0.000000,...,0.000000e+00,16600.000000,1783.000000,2.000000,255.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.910168e+06,66965.000000,79.000000,80.000000,5.000000,1.000000,1350.000000,1.505167e+09,2017.000000,1.000000,...,1.505038e+09,29047.000000,13027.000000,3.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000